body {
    background-color: #751821;
    font-family: "sans-serif";
    font-weight: lighter;
    font-size: 30px;
    alignment: center;
    color: #f5f8ff;
}

img {
    width: 100%;
    left: 0px;
    right: 0px;
}
